streamlit
requests
beautifulsoup4
pandas
mibian
selenium
lxml
scipy
plotly
boto3

# Added from the code block
altair
appdirs
attrs
beautifulsoup4==4.13.4
blinker
boto3
botocore
bs4
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cssselect
cycler
exceptiongroup
fake-useragent
Flask
fonttools
gitdb
GitPython
h11
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
jmespath
jsonschema
jsonschema-specifications
kiwisolver
lxml
MarkupSafe
matplotlib
mibian
narwhals
numpy
outcome
packaging
pandas
parse
pillow
plotly
protobuf
pyarrow
pycparser
pydeck
pyee
pyparsing
pyppeteer
pyquery
PySocks
python-dateutil
python-dotenv
python-pptx
pytz
referencing
requests
requests-html
rpds-py
s3transfer
scipy
selenium
six
smmap
sniffio
sortedcontainers
soupsieve
streamlit
tenacity
toml
tornado
tqdm
trio
trio-websocket
typing_extensions
tzdata
urllib3
w3lib
watchdog
webdriver-manager
websocket-client
websockets
Werkzeug
wsproto
XlsxWriter
zipp